.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  // mobile
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  // tablet
  @media screen and (min-width: 768px) {
    width: 354px;
  }

  // desktop
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.benefits__logo-box {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-dark-clr);
  margin-bottom: 10px;

  //mobile
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-gray-clr);
}
