/* -----------------секция с 9 карточками----------------------- */

/* создаем сетку из 9 элементов */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* ширину лучше задать фунцией calc, так как она позволяет автоматически подстравиаться под изменение ширины страницы
calc((100% - кол-во маржинов в строке * значение марижина) / кол-во элементов в строке */
.flex-element {
    display: block;
    width: calc((100% - 2 * 30px) / 3);
    text-align: left;
    margin-right: 30px;
    margin-bottom: 30px;
    /* border: 1px solid #EEEEEE; */
    border-top: 0;

/* мы не можем применить justify-content: space-between, так как если в сетке будет к примеру 5 єлементов, то один ряд будет с дыркой */

    /* для каждого 3 элемента в сетке убираем правый маржин */
&:nth-child(3n) {
        margin-right: 0;
    }

    /* убираем нижний маржин у последних 3х элементов сетки */
&:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.card {
    display: block;
    background-color: #FFFFFF;
    text-decoration: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.subtitle {
    color: var(--main-dark-clr);
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    margin: 0 0 4px;
}

.subtitle-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--main-gray-clr);
    margin: 0;
}

.flex-text {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

/* добавляем выпадающее меню overlay для карточек */
.overlay-box {
    width: 370px;
    height: 294px;
    position: relative;
    overflow: hidden;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;

    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    /* .overlay-box:hover .overlay */
.card:hover & {
            transform: translateY(0);
        }
}

.overlay-text {
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--main-white-clr);
    padding: 63px 24px;
}