/**
  |====================================
  | секция "постійні клієнти"
  |====================================
*/
.clients__list {
    display: flex;
    gap: 30px;
}

.clients__item {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
        border-color: #2196F3;
    }
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    padding: 15px 30px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
        color: #2196F3;
    }
}

.clients__logo {
    fill: currentColor;
}