/**
  |====================================
  | секция "наша команда"
  |====================================
*/
.team {
    background-color: #F5F4FA;
}

.team__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.team__item {
    width: 270px;
    height: 428px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;

    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.team__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--main-gray-clr);

    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

.team__icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    color: #AFB1B8;
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
        color: #FFFFFF;
        background-color: #2196F3;
    }
}

.team__icon-svg {
    fill: currentColor;
}