/**
  |====================================
  | секция "чем мы занимаемся"
  |====================================
*/
.section.work {
    padding-top: 0;
}

.work__list {
    display: flex;
    justify-content: space-between;
}

.work__item {
    position: relative;
}

.work__row {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white-clr);
}