/* сброс маркированых точек в списках */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.link {
    text-decoration: none;
}


/* делаем все изображения блочными, тем самым убирая нижний отступ + делаем изображение резиновым*/
img {
    display: block;
    /* (делаем резиновым изображение) */
    max-width: 100%;
    height: auto;
}