/* 
темный цвет основного текста #212121
светлый цвет основного текста #757575
светлый дополнительный цвеn текста #FFFFFF 
*/


/* задаем глобальный border-box */
/* Для того,
чтобы не задавать свойство box-sizing каждому элементу отдельно в 
самом начале файла стилей используется следующий CSS-код. */

/* В нормализаторе modern-normalize по умолчанию задан глобальный border-box,
поэтому в своих стилях его можно не указывать. */

/* html {
    box-sizing: border-box;
} */

/* Используя универсальный селектор *,
значение border-box устанавливается для всех элементов
 и псевдоэлементов на странице*/

/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

/* переменные с нашими color */
:root {
    --main-dark-clr: #212121;
    --main-gray-clr: #757575;
    --main-white-clr: #FFFFFF;
}